<header class="bg-white mx-auto lg:max-w-screen-2xl">
  <div class="flex justify-between items-center p-3 shadow">
    <!-- left component -->
    <div class="flex items-center">
      <!-- Menu Icon (Hamburger Menu) -->
      <button id="js-hamburger" type="button" class="hamburger ml-2 lg:hidden">
        <span class="hamburger__line"></span>
      </button>

      <!-- Company Logo -->
      <a href="/" id="company-logo" aria-label="Company Logo">
        <img src="assets/upwork-logo.svg" alt="upwork-logo" class="w-20" />
      </a>

      <nav
        id="nav-menu-aside"
        class="absolute lg:static w-full lg:w-fit h-[90vh] lg:h-auto top-14 left-0 transform -translate-x-full lg:translate-x-0 transition-transform duration-300 ease-in-out bg-white"
      >
        <ul class="flex flex-col lg:flex-row gap-3">
          <li class="nav-menu">
            <a href="#">Find Talent</a>
          </li>
          <li>
            <button
              id="dropdown-navbar-button"
              data-dropdown-toggle="dropdownNavbar"
              class="flex w-full justify-between items-center nav-menu"
            >
              Find Work
              <img
                id="nav-chevron"
                src="assets/chevron-down-svgrepo-com.svg"
                class="w-auto h-3 lg:ml-2 transform"
                alt="chevron-down"
              />
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdown-navbar-content"
              class="hidden bg-white lg:max-w-screen-2xl lg:absolute lg:w-screen lg:px-11 lg:py-20 lg:left-[-18%] lg:top-[4.2rem] lg:shadow"
            >
              <ul
                aria-labelledby="dropdownLargeButton"
                class="flex flex-col px-8 py-2 gap-3 lg:flex-row lg:justify-between"
              >
                <li>
                  <a href="#" class="font-medium">Ways to earn</a>
                </li>
                <li>
                  <a href="#" class="font-medium">Find work for your skills</a>
                </li>
                <li>
                  <a href="#" class="font-medium">Win work with ads</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-menu"><a href="#">Why Upwork</a></li>
          <li class="nav-menu"><a href="#">Enterprise</a></li>
        </ul>
      </nav>
    </div>

    <!-- right component -->
    <div class="flex items-center">
      <!-- Sign Up Links -->

      <a href="#signup" aria-label="Sign Up" class="mr-3">Sign Up</a>

      <!-- Search Icon and Form -->
      <div id="search-container">
        <button id="btn-search-aside" aria-label="Open Search">
          <!-- Your search icon SVG or font icon goes here -->
          <img
            src="assets/find-magnifier-magnifying-glass-svgrepo-com.svg"
            alt="search icon"
            class="w-5 scale-x-[-1] relative top-1"
          />
        </button>
      </div>
    </div>
  </div>

  <!-- Search Menu aside -->
  <div
    id="search-menu-aside"
    class="absolute z-10 bg-white w-full h-screen p-3 top-0 transform translate-x-full transition-transform duration-300 ease-in-out"
  >
    <div class="flex justify-center">
      <button id="btn-back-aside">
        <img
          src="assets/chevron-left-svgrepo-com.svg"
          class="w-5 mr-2"
          alt="chevron-right"
        />
      </button>

      <div
        class="flex border-solid border-2 border-[#9aaa97ff] rounded-3xl px-3 py-2"
      >
        <button>
          <img
            src="assets/find-magnifier-magnifying-glass-svgrepo-com.svg"
            class="w-4 scale-x-[-1] mr-3"
            alt="search-icon"
          />
        </button>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search"
          class="border border-none focus:border-none outline-none"
        />
      </div>
    </div>

    <nav class="mt-5 text-xl border-b-2 py-[0.1px]">
      <ul class="flex gap-5 text-gray-500">
        <!-- Talent -->
        <li
          class="cursor-pointer hover:border-b-2 hover:border-green-500 border-green-500 hover:text-green-500 transition-all duration-300 pb-2 font-medium"
          onclick="changeColor(this)"
        >
          <a href="#talent">Talent</a>
        </li>

        <!-- Projects -->
        <li
          class="cursor-pointer hover:border-b-2 hover:border-green-500 border-green-500 hover:text-green-500 transition-all duration-300 pb-2 font-medium"
          onclick="changeColor(this)"
        >
          <a href="#projects">Projects</a>
        </li>

        <!-- Jobs -->
        <li
          class="cursor-pointer hover:border-b-2 hover:border-green-500 border-green-500 hover:text-green-500 transition-all duration-300 pb-2 font-medium"
          onclick="changeColor(this)"
        >
          <a href="#jobs">Jobs</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
